/* Nav Bar */


#nav-bar {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navlink {
  text-decoration: none;
  color: black;
}


#home {
  text-align: center;
}

#form {
  text-align: center;
}

.activity-detail {
  text-align: center;
  margin-top: 40px;
}

/* Containter for Activities*/
#activities-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

/* Activity Cards */
.activity-card {
  border: 1px solid gray;
  color: lightn;
  margin: 10px 10px;
  padding: 10px;
  min-width: 320px;
} 

/* padding: 10px;
  margin: 10px auto;
  width: 50%;
  min-width: 400px; */

.like-btn {
  background-color: royalblue;
  color: white;
}

.image {
  width: 200;
  height: 100px;
}