/* Nav Bar */

#nav-bar {
  text-align: center;
  padding-top: 1%;
}


#home {
  text-align: center;
}

#form {
  text-align: center;
}


/* Containter for Activities*/
#activities-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

/* Activity Cards */
.activity-card {
  border: 1px solid black;
  margin: 10px 10px;
  padding: 10px;
  min-width: 320px;
} 

/* padding: 10px;
  margin: 10px auto;
  width: 50%;
  min-width: 400px; */
